/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  /* по умолчанию */
  /* font-size: 16px;  */
}
body {
  line-height: 1;
  color: #fff;
  background-color: #f5f5f5;
  font-family: 'Roboto';
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ------------------------------ */
.main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0px 15px;
}

.button {
  background-color: #f2726f;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #f2726f;
  transition: all 0.2s;
}

.button:hover {
  background-color: #fff;
  color: #f2726f;
}

.subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 33px;
}
.subtitle::before {
  content: url('../img/mainpage/icons/subtitle-icon.svg');
  position: absolute;
  left: 0;
  top: -2px;
}
.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
  color: #fff;
}
.subtitle--purple {
  color: #5d62b5;
}
.subtitle--purple::before {
  content: url('../img/mainpage/icons/subtitle-icon-purple.svg');
}
.title--black {
  color: #000;
}

.header {
  padding: 26px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  flex-direction: column;
}
.header-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.header__object:not(:last-child) {
  margin: 0 0 28px 0;
}
.logo {
  flex: 0 0 174px;
}
.logo__image {
  width: 100%;
}
.header-top__info {
  display: flex;
  margin: 0 -15px;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
.header-top__box {
  display: flex;
  column-gap: 10px;
  padding: 0 15px;
}
.header-top__icon {
  flex: 0 0 24px;
  height: 24px;
  object-fit: cover;
}
.header-top__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.15px;
}
.header-top__text {
}
.header-top__descr {
}

.header-top__link {
  padding: 6px 33px;
}

.header-menu {
}

.header-burger {
  display: none;
}

.menu {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  border-radius: 10px;
  position: relative;
}
.menu__member {
}
.menu__nav {
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.15px;
  transition: all 0.2s;
}
.menu__item:hover {
  color: #f2726f;
}
.menu__item:not(:last-child) {
  margin: 0 37px 0 0;
}
.menu__item--arrow {
  padding: 0 20px 0 0;
  cursor: pointer;
  position: relative;
}
.menu__item--arrow::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../img/mainpage/header/arrow-down.svg') 0 0 / contain
    no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.menu__link {
  color: inherit;
}
.menu__box {
  display: flex;
}
.menu__button {
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 2;
}
.menu__button:hover {
  transform: scale(1.2);
}
.menu__button:not(:last-child) {
  margin: 0 22px 0 0;
}
.menu__button--search {
}
.menu__button--cart {
  position: relative;
}
.menu__number {
  position: absolute;
  color: #fff;
  background-color: #f2726f;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  letter-spacing: 0.15px;
  padding: 0 5.08px;
  border-radius: 20px;
  font-family: 'Roboto';
  left: 15px;
  top: -7px;
}

.hero {
  background: url('../img/mainpage/header/bg-header.jpg') center / cover
    no-repeat;
  padding: 280px 0 312px;
  width: 100%;
}
.hero__container {
}
.hero__title {
  font-weight: 900;
  font-size: 56px;
  line-height: 1;
  max-width: 583px;
}
.hero__link {
  margin-top: 48px;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  padding: 10px 33px;
}

.about {
  margin-top: -80px;
  color: #f5f5f5;
}
.about__container {
}
.about__content {
  background-color: #5d62b5;
  padding: 100px 87px 0px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.about__content::before {
  content: '';
  position: absolute;
  background: url('../img/mainpage/about/decor.svg') 0 0 / contain no-repeat;
  width: 201px;
  height: 317px;
  right: -76px;
  top: -109px;
}
.about__subtitle {
}
.about__subtitle:not(:last-child) {
  margin: 0 0 33px 0;
}

.about__title {
  max-width: 583px;
  position: relative;
}
.about__title:not(:last-child) {
  margin: 0 0 36px 0;
}

.about__text {
  position: relative;
  z-index: 2;
}
.about__text p {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.15px;
}
.about__text:not(:last-child) {
  margin: 0 0 54px 0;
}
.about__picture {
  max-width: 846px;
  position: relative;
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.about__picture::before {
  content: '';
  position: absolute;
  background: url('../img/mainpage/about/blob.png') 0 0 / cover no-repeat;
  width: 665px;
  height: 591px;
  bottom: -130px;
  left: -100px;
}
.about__image {
  margin-bottom: -100px;
  border-radius: 40px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.promise {
  padding: 230px 0 122px;
}
.promise__container {
}
.promise__subtitle:not(:last-child) {
  margin: 0 0 33px 0;
}
.promise__title:not(:last-child) {
  margin: 0 0 68px 0;
}
.promise__inner {
  display: flex;
  margin: 0 -12px;
  flex-wrap: wrap;
  row-gap: 24px;
}
.promise__item {
  flex: 0 1 33.333%;
  display: flex;
  column-gap: 23px;
  align-items: flex-start;
  padding: 0 12px;
  min-width: 300px;
}
.promise__icon {
  flex: 0 0 63px;
  object-fit: cover;
}
.promise__box {
}
.promise__label {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.37;
  color: #f2726f;
}
.promise__label:not(:last-child) {
  margin: 0 0 20px 0;
}
.promise__text {
}
.promise__text p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #4b4b4b;
}

.pup {
  background-color: #29c3be;
  padding: 44px 0 0 0;
  overflow: hidden;
}
.pup__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.pup__picture {
  margin: 0 72px 0 0;
  flex: 0 1 744px;
  position: relative;
}
.pup__picture::before {
  content: url('../img/mainpage/pup/blob.png');
  position: absolute;
  top: -35%;
  left: -15%;
  z-index: 1;
}
.pup__picture::after {
  content: url('../img/mainpage/pup/decor.svg');
  position: absolute;
  left: -2%;
  top: 19%;
}
.pup__image {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.pup__box {
  flex: 0 1 431px;
  position: relative;
  padding: 50px 10px 10px;
  z-index: 1;
}
.pup__box::before {
  content: url('../img/mainpage/pup/line.svg');
  position: absolute;
  top: -40px;
  left: -55px;
  z-index: -1;
}
.pup__box::after {
  content: url('../img/mainpage/pup/ball.png');
  position: absolute;
  right: -150px;
  top: 50px;
}
.pup__title {
}
.pup__title:not(:last-child) {
  margin: 0 0 42px 0;
}
.pup__link {
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
  padding: 10px 33px;
}

@media (max-width: 1247px) {
  .pup__picture {
    order: 2;
  }
  .pup__box {
    order: 1;
  }
}
@media (max-width: 991.98px) {
  .button {
    padding: 10px 20px;
  }
  .header-top {
    order: 2;
  }
  .header-menu {
    order: 1;
  }
  .header__object {
    margin-bottom: 28px;
  }
}

@media (max-width: 800px) {
  .header__container {
    padding: 0;
  }
  .header {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .header-menu {
    position: fixed;
    width: 100%;
  }
  .header-top {
    padding: 80px 10px 0;
  }
  .menu {
    border-radius: 0;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
  .header-top__info {
    margin: 0;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 2;
  }
  .header-burger span {
    position: absolute;
    background-color: #484c9a;
    width: 100%;
    left: 0;
    height: 2px;
    top: 9px;
    transition: all 0.3s;
  }
  .header-burger::before,
  .header-burger::after {
    content: '';
    background-color: #484c9a;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s;
  }
  .header-burger::before {
    top: 0;
  }
  .header-burger::after {
    bottom: 0;
  }
  .header-burger.active span {
    transform: rotateY(90deg);
    background-color: #f2726f;
  }
  .header-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #f2726f;
  }
  .header-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #f2726f;
  }
  .menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    top: 0;
    left: 0;
  }
  .menu__list {
    position: fixed;
    top: -100%;
    flex-direction: column;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #484c9a;
    color: #fff;
    padding: 80px 0 0 0;
    transition: all 0.3s;
  }
  .menu__list.active {
    top: 0;
  }
  .menu__item {
    font-size: 20px;
  }
  .menu__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .about__content {
    padding: 100px 50px 0;
  }
  .about__content::before {
    transform: scale(0.7);
  }
  .about__picture::before {
    transform: scale(0.8);
  }
}

@media (max-width: 584px) {
  .hero {
    padding: 400px 0 150px;
  }
  .hero__title {
    font-size: 40px;
  }
  .about__content {
    padding: 50px 25px 0;
  }
  .about__content::before {
    transform: scale(0.5);
  }
  .about__picture::before {
    transform: scale(0.6) translateX(-20%);
  }
}
